In [1]:
import pandas as pd

In [43]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

data = pd.read_csv("C:/Users/Lenovo/Desktop/corona_tested_individuals_ver_006.english.csv")

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2020-04-30,0,0,0,0,0,negative,None,female,Other
1,2020-04-30,1,0,0,0,0,negative,None,female,Other
2,2020-04-30,0,1,0,0,0,negative,None,male,Other
3,2020-04-30,1,0,0,0,0,negative,None,female,Other
4,2020-04-30,1,0,0,0,0,negative,None,male,Other
...,...,...,...,...,...,...,...,...,...,...
99995,2020-04-17,0,0,0,0,0,negative,None,female,Other
99996,2020-04-17,0,0,0,0,0,negative,None,male,Other
99997,2020-04-17,0,0,0,0,0,negative,None,female,Other
99998,2020-04-17,0,0,0,0,0,negative,None,male,Other
99999,2020-04-17,0,0,0,0,0,negative,None,female,Other

In [47]:
l=list(data['corona_result'])
l.index('other')

67

In [3]:
data.columns

Index(['test_date', 'cough', 'fever', 'sore_throat', 'shortness_of_breath',
       'head_ache', 'corona_result', 'age_60_and_above', 'gender',
       'test_indication'],
      dtype='object')

In [4]:
data.drop(['test_date','age_60_and_above','test_indication'],axis=1,inplace=True)

In [5]:
data.head()

  cough fever sore_throat shortness_of_breath head_ache corona_result  gender
0     0     0           0                   0         0      negative  female
1     1     0           0                   0         0      negative  female
2     0     1           0                   0         0      negative    male
3     1     0           0                   0         0      negative  female
4     1     0           0                   0         0      negative    male

In [34]:
data['corona_result'].value_counts()

negative    260227
positive     14729
other         3892
Name: corona_result, dtype: int64

In [6]:
data.dropna()

,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,gender
0,0,0,0,0,0,negative,female
1,1,0,0,0,0,negative,female
2,0,1,0,0,0,negative,male
3,1,0,0,0,0,negative,female
4,1,0,0,0,0,negative,male
...,...,...,...,...,...,...,...
278843,0,0,0,0,0,negative,None
278844,0,0,0,0,0,negative,None
278845,0,0,0,0,0,positive,None
278846,0,0,0,0,0,other,None
278847,0,0,0,0,0,negative,None

In [7]:
data.isnull().sum()

cough                  0
fever                  0
sore_throat            0
shortness_of_breath    0
head_ache              0
corona_result          0
gender                 0
dtype: int64

In [8]:
data['cough'].value_counts()

0       121649
0       114719
1        25875
1        16353
None       252
Name: cough, dtype: int64

In [9]:
import numpy as np
data = data.replace(to_replace='None', value=np.nan).dropna()

In [10]:
data.dropna(inplace=True)

In [11]:
data.dropna(inplace=True)

In [12]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

data["corona_result"] = label_encoder.fit_transform(data["corona_result"])
data["gender"] = label_encoder.fit_transform(data["gender"])

In [13]:
data["cough"].replace({'0':0,'1':1},inplace=True)
data["fever"].replace({'0':0,'1':1},inplace=True)
data["sore_throat"].replace({'0':0,'1':1},inplace=True)
data["shortness_of_breath"].replace({'0':0,'1':1},inplace=True)
data["head_ache"].replace({'0':0,'1':1},inplace=True)

In [14]:
data["cough"].apply(lambda x : int(x))
data["fever"].apply(lambda x : int(x))
data["sore_throat"].apply(lambda x : int(x))
data["shortness_of_breath"].apply(lambda x : int(x))
data["head_ache"].apply(lambda x : int(x))

0         0
1         0
2         0
3         0
4         0
         ..
265116    0
265117    1
265118    0
265119    0
265120    0
Name: head_ache, Length: 259042, dtype: int64

In [15]:
data["cough"]
data["fever"].apply(lambda x : int(x))
data["sore_throat"].apply(lambda x : int(x))
data["shortness_of_breath"].apply(lambda x : int(x))
data["head_ache"]

0         0
1         0
2         0
3         0
4         0
         ..
265116    0
265117    1
265118    0
265119    0
265120    0
Name: head_ache, Length: 259042, dtype: int64

In [16]:
data["cough"].value_counts(),data["fever"].value_counts(),data["sore_throat"].value_counts(),data["shortness_of_breath"].value_counts(),data["head_ache"].value_counts()

(0    219387
 1     39655
 Name: cough, dtype: int64,
 0    238848
 1     20194
 Name: fever, dtype: int64,
 0    257523
 1      1519
 Name: sore_throat, dtype: int64,
 0    257943
 1      1099
 Name: shortness_of_breath, dtype: int64,
 0    256914
 1      2128
 Name: head_ache, dtype: int64)

In [17]:
# data = data[:23000]

In [18]:
y = data["corona_result"]

x = data.drop(["corona_result"],axis = 1)

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259042 entries, 0 to 265120
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   cough                259042 non-null  int64
 1   fever                259042 non-null  int64
 2   sore_throat          259042 non-null  int64
 3   shortness_of_breath  259042 non-null  int64
 4   head_ache            259042 non-null  int64
 5   corona_result        259042 non-null  int32
 6   gender               259042 non-null  int32
dtypes: int32(2), int64(5)
memory usage: 13.8 MB

In [21]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
rf = XGBClassifier(n_estimators=100,random_state = 1) 
rf.fit(x,y)
print("Accuracy of Random Forest Classification : ",rf.score(x_test,y_test))

Accuracy of Random Forest Classification :  0.9464764809203035

In [22]:
import pickle

pkl_path = "C:/Users/Lenovo/Desktop/Symptom.pkl"
with open(pkl_path, "wb") as f:
    pickle.dump(rf, f)

In [23]:
x.iloc[0,:]

cough                  0
fever                  0
sore_throat            0
shortness_of_breath    0
head_ache              0
gender                 0
Name: 0, dtype: int64

In [49]:
test2= pd.DataFrame([[1,1,1,1,1,1]],columns= ['cough', 'fever', 'sore_throat', 'shortness_of_breath', 'head_ache', 'gender'],dtype=float)
rf.predict(test2)

array([2])

In [181]:
cols_when_model_builds = rf.get_booster().feature_names

In [182]:
rf.get_booster().feature_names

['cough', 'fever', 'sore_throat', 'shortness_of_breath', 'head_ache', 'gender']